<div class="card-top container-fluid">
    <div class="container d-flex">
     
        <div class="item">
            <div class="item">
                <a>
                    <img src="../../../images/all.png" alt="">
                    <h6>All Products</h6>
                </a>
        </div>
        <div class="item">
            <div class="item">
                <a>
                    <img src="../../../images/electronics.png" alt="">
                    <h6>Electronics</h6>
                </a>
        </div>
        <div class="item">
            <div class="item">
                <a>
                    <img src="../../../images/book.png" alt="">
                    <h6>Books</h6>
                </a>
        </div>

        <div class="item">
            <a>
                <img src="../../../images/food.png" alt="">
                <h6>Foods</h6>
            </a>
        </div>

        <div class="item">
            <a>
                <img src="../../../images/shirt.png" alt="">
                <h6>Dress</h6>
            </a>
        </div>
    </div>
</div>